LDAP_ADMIN_PASSWORD=changeme
LDAP_BIND_PASSWORD=changeme
LETSENCRYPT_EMAIL=admin@acme.local
NODE_INTERFACE=eth0        # interface réseau du noeud (vérifier avec: ip link)

# Mots de passe des comptes utilisateurs LDAP (stockés dans ldap-users-secret)
LDAP_ADMIN1_PASSWORD=Admin1234!
LDAP_EDITOR_PASSWORD=Editor1234!
LDAP_VIEWER_PASSWORD=Viewer1234!

# Minio / Velero
MINIO_ROOT_USER=minio-admin
MINIO_ROOT_PASSWORD=changeme_minio_password
