LDAP_ADMIN_PASSWORD=changeme
LDAP_BIND_PASSWORD=changeme
LETSENCRYPT_EMAIL=admin@acme.local
NODE_INTERFACE=eth0        # interface réseau du noeud (vérifier avec: ip link)

# Minio / Velero
MINIO_ROOT_USER=minio-admin
MINIO_ROOT_PASSWORD=changeme_minio_password
